body{
  background-color:#3e54a3;/*#182343, */
  color:white;
}
.container{
  position: absolute;
  top: 50%;
  left:50%;
  transform:translate(-50%,-50%);
     
}
button{
  background-color:transparent;
  border:none;
}
img{
  width: 100px;
  border-radius:50%
}
#scissor{
  width:200px;
 /* background-color:red;*/
}
.text{
  margin-bottom:24px;
  text-align:center;
} 

#com,#you{
  padding:3px;
  border-radius:5px;
  background-color:#e91e63;
  margin:3px;
}